.home{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 58px 0px 0px 0px;
    background-image: linear-gradient(to right, rgb(253, 245, 253), rgb(236, 253, 236), rgb(234, 234, 248));
    padding: 14px;
}
.image{
    margin-left: 50px;
}
@media (max-width: 600px){
    .home{
        padding: 50px 10px;
    }
    .image{
        margin-left: 20px;
        width: 200px;
        height: 400px;
    }
}