.footCon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: small;
    bottom: 0;
    color: white;
}
.footLi{
    list-style: none;
    display: flex;
}
.footLiItem{
    margin-right: 5px;
}
.footSocial{
    margin-left: 20px;
}
.footSocial a {
    margin: 5px;
    text-decoration: none;
    color: white;
}

.footSocial a:hover {
    text-decoration: underline;
}
