.sidebar{
    flex: 2.5;
    text-align: center;
    margin: 80px 0px 20px 0px;
    overflow: hidden;
}
.sidebarCon, .recomCon{
    display: flex;
    flex-direction: column;
    padding: 25px 5px 10px 10px;
}
.sidebarHead{
    font-weight: bold;
}
.sidebarBtn{
    margin: 4px 30px;
}
.sideLists{
    list-style: none;
    padding: 0;
}
.sidebarListItem{
    margin: 5px 0;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width: 768px ){
    .sidebarCon, .recomCon{
        display: flex;
        flex-direction: column;
        padding: 0px 5px 60px 10px;
    }
}