.about{
    text-align: center;
    margin: 70px 0px 20px 0px;
}
.aboutCon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutPara{
    margin: 5px 30px 5px 30px;
    padding: 35px;
}
.aboutIcon a{
    margin: 5px 20px 5px 20px;
}
@media (max-width: 768px){
    .aboutImg{
        width: 200px;
        height: 300px;
    }
}
@media (max-width: 400px){
    .aboutCon{
        display: inline;
    }
    .aboutPara{
        margin: 5px 10px 5px 10px;
        padding: 10px;
    }
    .aboutIcon a{
        margin: 5px 10px 5px 10px;
    }
}